html {
  height: 100%;

  background-color: #ffeaa7;
  color: #2d3436;
  font-family: Verdana, Geneva, sans-serif;
}

body {
  height: 100%;
  display: flex;
  overflow-y: scroll;
}

a {
  color: inherit;
  text-decoration: inherit;
  font-weight: bold;
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dropzone {
  padding: 20px;
  width: 400px;
  height: 400px;
  border-width: 2px;
  border-color: #2d3436;
  border-style: dashed;
  border-radius: 25px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}
